<!-- displayName -->


<form
	layout 		= "column"
	ng-init		= "displayName = jhvwUser.data.displayName" 
	ng-submit 	= "updateDisplayName(displayName).then(blur)" 
>
	<md-input-container
	>
		<label>Angezeigter Name</label>
		<input 
			ng-model		= "displayName" 
			ng-blur			= "displayName = jhvwUser.data.displayName"
			md-maxlength	= "60" 
			type			= "text"
			required
		/>

	</md-input-container>

	<md-button 
		class		= "md-primary md-raised" 
		aria-label	= "update display name"
		ng-if		= "displayName != jhvwUser.data.displayName"
		type		= "submit"
	>
		übernehmen
	</md-button>

</form>



<!-- profilePic -->

<div
	layout 		= "column"
	ng-init		= "displayName = jhvwUser.data.displayName|| jhvwUser.data.username" 
>

	<md-list>
		<md-list-item>
			<img
				ng-if	= "jhvwUser.data.avatar" 
				ng-src	= "/dpd-exchange/public/avatars/{{jhvwUser.data.avatar}}"
				class	= "md-avatar"
			/>

			<div 
				class 	= "md-avatar"
				ng-if	= "!jhvwUser.data.avatar"
			>
				<md-icon class = "md-avatar-icon">face</md-icon>
			</div>


			<label
				for			= "{{avatarInputId}}"
				class		= "md-button md-raised"
				md-colors	= "{'background': avatarFilename ? 'warn' : 'background'}"
				flex		= "grow"
			>
				ändern
			</label>

			<md-button 
				class 		= "md-raised"
				ng-class	= "{'md-warn': confirmDeletion}"
				ng-click 	= "confirmDeletion = !confirmDeletion" 
				flex		= "grow"
			>
				löschen
			</md-button>
		</md-list-item>
	</md-list>
	
	<input 
		id				= "{{avatarInputId}}"
		type			= "file"
		class			= "ng-hide"
		required
	/>

	<!-- confirm deletetion -->

	<div
		layout	= "row"
		layout-align = "center center"
		ng-show	= "confirmDeletion"
	>
		<md-button
			class		= "md-raised"
			ng-click	= "confirmDeletion = false"
			flex		= "grow"
		>
			abbrechen
		</md-button>

		<md-button
			class		= "md-primary md-raised"
			flex		= "grow"
		>
			bestätigen
		</md-button>
	</div>


	<!-- filename -->

	<div
		class 	= "md-button md-disabled"
		ng-show = "avatarFilename"	
	>
		{{avatarFilename}}
	</div>


	<div
		layout 	= "row"
		ng-show = "avatarFilename"
		flex	= "grow"
	>
		<md-button
			class		= "md-raised"
			ng-click	= "avatarFilename = ''"
			flex		= "grow"
		>
			abbrechen
		</md-button>

		<md-button
			class		= "md-primary md-raised"
			flex		= "grow"
			ng-click 	= "updateAvatar(); avatarFilename = ''"
		>
			hochladen
		</md-button>
	</div>
</div>
