<form ng-submit = "submit()">
	<md-input-container
		ng-if = "step == 'mail'"
	>
	  	<label>E-Mail</label>
	  	<input 
	 		ng-model	= "data.email" 
	 		type		= "text"
	 		md-auto-focus
			focus-me
	 	>
	</md-input-container>

	<md-input-container
		ng-if = "step == 'password'"
	>
		<label>Passwort</label>
		<input 
			ng-model	= "data.password" 
			type		= "password"
			focus-me
		>
	</md-input-container>

	<div layout-padding>
		{{message}}	
		{{error}}
	</div>

	<div layout-xs = "column" layout = "row">

		<md-button 
			layout-align	= "center"
			class 			= "md-raised" 
			flex 			= "grow"
			ng-click		= "back()"
			ng-if			= "step == 'password' || step == 'error'"
		>				
			Zurück	
		</md-button>

		<md-button 
			layout-align	= "center"
			class 			= "md-primary md-raised" 
			type 			= "submit"
			flex 			= "grow"
		>	
			Okay	
		</md-button>

	</div>
</form>