<form ng-submit = "step < 1 ? next() : createUser(data.email, data.password)">
	<md-input-container
		ng-if = "step == 0"
	>
	  	<label>E-Mail</label>
	  	<input 
	 		ng-model	= "data.email" 
	 		type		= "text"
	 		md-auto-focus
			focus-me
	 	>
	</md-input-container>

	<md-input-container
		ng-if = "step == 1"
	>
		<label>Passwort</label>
		<input 
			ng-model	= "data.password" 
			type		= "password"
			focus-me
		>
	</md-input-container>

	<div>
		{{message}}	
		{{error}}
	</div>

	<div layout-xs = "column" layout = "row">
		<md-button 
			class 	= "md-raised" 
			flex 	= "grow"
			ng-if	= "step "
		>				
			Zurück	
		</md-button>

		<md-button 
			class 	= "md-primary md-raised" 
			type 	= "submit"
			flex 	= "grow"
		>	
			Okay	
		</md-button>
	</div>
</form>