
<html lang="en" >
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	
	<!-- Angular Material requires Angular.js Libraries -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
	
	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>

	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

	<!-- Config -->
	<script src="config.js"></script>

	<!-- App.js -->
	<script src="/js/app.js"></script>
	<script src="/js/directives.js"></script>
	<script src="/js/services.js"></script>

	
</head>

<body ng-app="jhvw" ng-cloak ng-controller = "AppCtrl">


	<md-button class="md-primary md-raised" ng-click="register($event)"></md-button>




	<div style="visibility: hidden">
		<div class="md-dialog-container" id="registerDialog">
			<md-dialog layout-padding>
				<jhvw-register></jhvw-register>					
			</md-dialog>
		</div>
	</div>






	<div >

			<div 
				layout		= "row" 
				ng-repeat 	= "message in messages"
			>
				<div flex = "20"> 
					{{message.from}} 
				</div>
				<div flex = "grow">
					{{message.content}}
					<pre>{{message|json}}</pre>
				</div>
			</div>


			
			<form ng-submit = "post()">
				<md-input-container>
					<label>Color</label>
					<input ng-model="from" required md-maxlength="10" type="text">
				</md-input-container>

				<md-input-container>
					<label>Color</label>
					<input ng-model="content" required md-maxlength="10" type="text">
				</md-input-container>
				<md-button class="md-primary" type = "submit">Submit</md-button>
			</form>

	</div>







	
	<div>
		Email: <input type="text" ng-model="email">
		Password: <input type="text" ng-model="password">

		<br><br>

		<button ng-click="createUser()">Create User</button>

		<br><br>

		<button ng-click="deleteUser()">Delete User</button>

		<p ng-if="message">Message: <strong>{{ message }}</strong></p>
		<p ng-if="error">Error: <strong>{{ error }}</strong></p>
	</div>

</body>
