body {
	overflow-y: 			hidden !important;
}

a, 
a:active, 
a:focus,
md-grid-tile {
	outline: 				none;
	text-decoration:		none;
}

.tac {
	text-align:				center;
}

.top-right {
	position:				absolute;
	top:					1rem;
	right:					1rem;
}

.no-padding {
	padding:				0 !important;
}


[ng-bind-html] {
	white-space: 			pre-line;
}


#hero {
	position:				relative;
	display:				flex;
	background-image:		url(/images/hero.jpg);
	background-size:		cover;
	background-position:	50% 50%;
	background-repeat:		no-repeat;
	min-height:				33vh;
	align-items: 			center;
	flex-direction:			column;
}

#hero h1 {
	display:				block;
	margin:					auto;
	opacity:				0.7;
	text-transform: 		uppercase;
	font-weight:			600;
	margin:					1em auto;
	line-height:			1;
	font-size:				calc((3vmax + 1vw) * 2);
	text-shadow:			0 0 1rem #000
}

#hero h2 {
	text-shadow:			0 0 0.5rem #000
}


#impressum h2,
#about h2 {
	opacity:				0.1;
	font-size:				10vw;
	font-weight:			800;
	line-height:			1;
	margin:					0;
	text-transform: 		capitalize;
}

/*
.xs #hero h1{ font-size:	3.5rem; }
.sm #hero h1{ font-size:	5rem; }
.md #hero h1{ font-size:	6rem; }
.lg #hero h1{ font-size:	7rem; }
.xl #hero h1{ font-size:	8rem; }
*/


.layout-padding, 
.layout-padding-gt-sm, 
.layout-padding-gt-sm > *, 
.layout-padding-md, 
.layout-padding-md > *, 
.layout-padding > *, 
.layout-padding > .flex, 
.layout-padding > .flex-gt-sm, 
.layout-padding > .flex-md {
	padding:				0.5rem;
}


.md .layout-padding, 
.md .layout-padding-gt-sm, 
.md .layout-padding-gt-sm > *, 
.md .layout-padding-md, 
.md .layout-padding-md > *, 
.md .layout-padding > *, 
.md .layout-padding > .flex, 
.md .layout-padding > .flex-gt-sm, 
.md .layout-padding > .flex-md {
	padding:				0.75rem;
}

.lg .layout-padding, 
.lg .layout-padding-gt-sm, 
.lg .layout-padding-gt-sm > *, 
.lg .layout-padding-md, 
.lg .layout-padding-md > *, 
.lg .layout-padding > *, 
.lg .layout-padding > .flex, 
.lg .layout-padding > .flex-gt-sm, 
.lg .layout-padding > .flex-md {
	padding:				1rem;
}

.xl .layout-padding, 
.xl .layout-padding-gt-sm, 
.xl .layout-padding-gt-sm > *, 
.xl .layout-padding-md, 
.xl .layout-padding-md > *, 
.xl .layout-padding > *, 
.xl .layout-padding > .flex, 
.xl .layout-padding > .flex-gt-sm, 
.xl .layout-padding > .flex-md {
	padding:				1.25rem ;
}



.layout-margin, 
.layout-margin-gt-sm, 
.layout-margin-gt-sm > *, 
.layout-margin-md, 
.layout-margin-md > *, 
.layout-margin > *, 
.layout-margin > .flex, 
.layout-margin > .flex-gt-sm, 
.layout-margin > .flex-md {
	margin:					0.5rem;
}


.md .layout-margin, 
.md .layout-margin-gt-sm, 
.md .layout-margin-gt-sm > *, 
.md .layout-margin-md, 
.md .layout-margin-md > *, 
.md .layout-margin > *, 
.md .layout-margin > .flex, 
.md .layout-margin > .flex-gt-sm, 
.md .layout-margin > .flex-md {
	margin:					0.75rem;
}


.lg .layout-margin, 
.lg .layout-margin-gt-sm, 
.lg .layout-margin-gt-sm > *, 
.lg .layout-margin-md, 
.lg .layout-margin-md > *, 
.lg .layout-margin > *, 
.lg .layout-margin > .flex, 
.lg .layout-margin > .flex-gt-sm, 
.lg .layout-margin > .flex-md {
	margin:					1rem;
}

.xl .layout-margin, 
.xl .layout-margin-gt-sm, 
.xl .layout-margin-gt-sm > *, 
.xl .layout-margin-md, 
.xl .layout-margin-md > *, 
.xl .layout-margin > *, 
.xl .layout-margin > .flex, 
.xl .layout-margin > .flex-gt-sm, 
.xl .layout-margin > .flex-md {
	margin:					1.25rem;
}






.project-list{
	position:				relative;
}

.project-list > footer ,
.project-list > header {
	position:				relative;
}


.project-list > footer > img,
.project-list > header > img {
	opacity:				0.1;
	box-sizing:				border-box;
	width:					100%;
	padding-top:			0 !important;
	padding-bottom:			0 !important;
}

.project-list > footer > .controls,
.project-list > header > .controls {
	position:				absolute;
	right:					1rem;
	bottom:					1rem;
}

.project-list > footer > .controls > *,
.project-list > header > .controls > * {
	font-size:				2rem !important;
}

.project-preview {
	position:				relative;
}

.project-preview img {
	width:					100%;
}




jhvw-chat .message {
	padding:				0.5rem;
	margin-bottom:			1rem !important;
	border-radius:			0.5rem;
}


jhvw-chat .message.own {
	margin-right:			1rem;
	margin-left:			20%;
	border-radius:			0.5rem 0.5rem 0rem 0.5rem;
	padding-left: 			1rem
}

jhvw-chat .message.other{
	margin-right:			20%;
	margin-left:			1rem;
	border-radius:			0.5rem 0.5rem 0.5rem 0em;
}




jhvw-chat .message.system {
	margin-right:			10%;
	margin-left:			10%;
}

jhvw-chat .message .lobe {
	position:				absolute;
	font-size:				1.5rem;

	margin-top:				-1px;
	top:					100%;
	border-style:			solid;
	border-width:			0.5em;
}

jhvw-chat .message.other .lobe {
	left:					0;
	border-right-color:		transparent !important;
	border-bottom-color:	transparent !important;
}

jhvw-chat .message.own .lobe {
	right:					0;
	border-left-color:		transparent !important;
	border-bottom-color:	transparent !important;
}


jhvw-chat .message.own + .message.own {
	margin-top:				-0.75rem;
}

jhvw-chat .message.other + .message.other {
	margin-top:				1.75rem;
}
/*
jhvw-chat .message.own + .message .lobe.own{ 
	display:				none;
}

jhvw-chat .message:not(.own) 	+ .message.own 		.lobe{
	display:				inline;
}
*/


jhvw-chat form {
	margin-bottom:			0 !important;
}

jhvw-chat form md-input-container {
	margin-bottom:			0 !important;
}

form {
	margin:					0 !important;
}

md-content {
	scroll-behavior: 		smooth;
}

md-list-item h3 {
	max-width:				20em;
}


jhvw-room-list md-list {
	padding-top:			0;
}

[ng-click] {
	cursor:					pointer;
}

md-grid-tile-header {
	z-index:				10;
	-webkit-touch-callout: 	none; /* iOS Safari */
    -webkit-user-select: 	none; /* Safari */
     -khtml-user-select: 	none; /* Konqueror HTML */
       -moz-user-select: 	none; /* Firefox */
        -ms-user-select: 	none; /* Internet Explorer/Edge */
            user-select: 	none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

md-grid-tile {
	overflow:				hidden;
}

md-grid-tile h3{
	margin:					0;
	z-index:				11;
	font-size:				4vh;
	text-transform: 		uppercase;
	text-align:				center;
	overflow-wrap: 			break-word;
	max-width:				95%;
}

md-grid-tile .tile-image {
	position:				absolute;
	top:					0;
	left:					0;
	right:					0;
	bottom:					0;
	background-size:		cover;
	background-repeat:		no-repeat;
	background-position:	50% 50%;
	z-index:				0;
	filter:					grayscale(100%) contrast(50%) brightness(80%);
}

md-grid-tile .description {
	position:				absolute;
	left:					0;
	right:					0;
	bottom:					0;

	max-height:				60%;
	oveflow:				hidden;
	text-overflow:			ellipsis;

	padding:				1rem;

	font-size:				0.9rem;
	color:					#000;
	background-color:		rgba(255,255,255,0.7);

	transform:				translateY(100%);

	transition:				transform 200ms ease-out;

	z-index:				2;
}


md-grid-tile:hover .description{
	transform:				translateY(0);
}


.logos > a {
	background-size:		contain;
	background-repeat:		no-repeat;
	background-position:	50% 50%;

	min-height:				4rem;
	filter:					contrast(0);
}

.logos.col > a {
	min-height:			6rem;
	width:				15rem;
	max-width:			90%;
	margin:				1rem 0;
}



.embed-video {
	position:			relative;
	padding-top:		0 !important;
	padding-left:		0 !important;
	padding-right:		0 !important;
	width:				100%;
	height:				0 !important;
	padding-bottom:		56.25% !important;
}

.embed-video > * {
	position:			absolute;
	top:				0;
	left:				0;
	right:				0;
	bottom:				0;
}