body {
	overflow-y: 			hidden !important;
}


jhvw-chat form {
	margin-bottom:			0 !important;
}

jhvw-chat form md-input-container {
	margin-bottom:			0 !important;
}

form {
	margin:					0 !important;
}

md-content {
	scroll-behavior: 		smooth;
}

md-list-item h3 {
	max-width:				20em;
}