<!-- chat messages -->
<div
	flex			= "grow"
	ng-show			= "!jhvwRoom.ready"
	layout 			= "column"
	layout-align	= "center center"
>
	<md-progress-circular 
		md-mode	= "indeterminate"
	></md-progress-circular>
</div>

<md-content
	flex		= "grow"
	md-colors	= "{background: 'jhvw-background-A100'}"
>

	<div
		ng-show			= "jhvwRoom.messages && jhvwRoom.messages.length && !noMoreItems"
		layout 			= "column"
		layout-align	= "center center"
	>		
		<md-button ng-click = "batchCount = batchCount +1"> ältere Nachrichten anzeigen </md-button>
	</div>


	<md-list-item 
		class			= "md-3-line md-long-text message system"
		md-colors		= "{background: 'primary-A200'}"
	>
		<div class="md-list-item-text">
			<p>Wilkommen in #{{jhvwRoom.name}}</p>
		</div>
	</md-list-item>


	<md-list-item 
		class			= "md-3-line md-long-text message system"
		ng-if   		= "!jhvwRoom.messages.length"
		md-colors		= "{background: 'jhvw-primary-A200'}"
	>
		<div class="md-list-item-text">
			<p style = "white-space: pre-wrap">Noch keine Nachrichten vorhanden.</p>
		</div>
	</md-list-item>


	<md-list-item 
		class			= "md-3-line md-long-text message {{message.from.id == jhvwUser.data.id ? 'own': 'other'}}"
		ng-repeat   	= "message in jhvwRoom.messages | orderBy: 'timestamp' | limitTo: -1*limit"
		md-colors		= "{background: message.from.id == jhvwUser.data.id ? 'jhvw-accent-200' : 'jhvw-primary-200'}"
		jhvw-message	= "::$last && message"		
	>
		<img 
			ng-src	= "{{jhvwConfig.backendLocation}}/images/{{message.from.avatar}}" 
			class	= "md-avatar" 
			alt		= "{{message.from.displayName}}" 
			ng-show	= "message.from.avatar && message.from.id != jhvwUser.data.id"
		/>

		<md-icon 
			class 	= "md-avatar-icon"
			ng-show	= "!message.from.avatar && message.from.id != jhvwUser.data.id"
		>
			face
		</md-icon>

		<div class="md-list-item-text">
			<h3 ng-if = "message.from.id != jhvwUser.data.id">{{message.from.displayName}}</h3>
			<p style = "white-space: pre-wrap">{{::message.content}}</p>
			<div layout = "row" layout-align = "end center"> <span class ="md-caption" flex = "none">({{message.timestamp | jhvwDate}})</span></div>
		</div>

		<div 
			class 		= "lobe"
			md-colors	= "{'border-color': message.from.id == jhvwUser.data.id ? 'accent-200' : 'primary-200'}"
		></div>
	</md-list-item>

</md-content>





<!-- new message -->

<form 
	ng-if		= "jhvwRoom"
	ng-submit 	= "post()"
	layout		= "row"
	flex		= "none"
	class		= "chat-input"
	md-colors	= "{background: 'jhvw-background-A100'}"
>
	
	<md-input-container 
		flex 		= "auto"
		class		= "md-primary"
	>
			<label>Nachricht</label>
			<textarea 
				ng-model		= "message.content" 
				ng-keypress 	= "postOrLinebreak($event)"
				md-maxlength	= "600"
				rows			= "1"
				md-no-resize
			></textarea>
	</md-input-container>

	<div
		flex			= "none"
		layout			= "column"
		layout-align 	= "center center"
		focus-me
	>
		<md-button 
			class	= "md-icon-button" 
			type 	= "submit"
		> 
			<md-icon>send</md-icon>
		</md-button>
	</div>

</form>




