<footer
	md-colors			= "{background: 'jhvw-primary-400'}" 
	layout				= "column"
	layout-align 		= "start stretch"
	layout-gt-sm		= "row"
	layout-align-gt-sm	= "end center"
>
	<div 
		flex				= "grow"
		class 				= "logos"

		layout				= "column"
		layout-align 		= "start stretch"

		layout-gt-sm		= "row"
		layout-align-gt-sm	= "end center"
		layout-margin
	>
		<a flex = "grow" href = "https://www.goethe.de" style = "background-image: url(/images/Goethe-Institut_Logo.svg)"></a>
		<a flex = "grow" href = "https://okfn.de" style = "background-image: url(/images/okf_de_white.svg)"></a>
		<a flex = "grow" href = "https://www.auswaertiges-amt.de" style = "background-image: url(/images/Auswärtiges_Amt_Logo.svg)"></a>
		<a flex = "grow" href = "http://www.medialepfade.org/" style = "background-image: url(/images/logo_mediale_pfade.png)"></a>
	</div>
	<div
		layout				= "column"
		layout-align 		= "start stretch"

		layout-gt-sm		= "row"
		layout-align-gt-sm	= "end center"
	>
		<a href = "/about" class = "md-button">		about		</a>
		<a href = "/impressum" class = "md-button">	Impressum	</a>
	</div>
</footer>