<a 
	class 		= "md-icon-button md-button"
	ng-href		= "/"
>
	<md-icon>home</md-icon>
	<a href = "/about" 		class = "md-button">Über uns</a>
</a>

<md-button 
	flex		= "none"
	ng-click 	= "gotoRoom()"
>
	<span ng-if = "!$routeParams.roomName">	Chat betreten</span>
	<span ng-if = "$routeParams.roomName">	#{{roomName}}</span>
</md-button>

<div flex 	= "grow"></div>

<md-button 
	ng-if 		= "!jhvwUser.loggedIn()"
	ng-click	= "register()"
	flex		= "none"
>
	Registrieren
</md-button>

<md-button
	ng-if 		= "!jhvwUser.loggedIn()"
	ng-click	= "login()"
	flex		= "none"
>
	Login
</md-button>


<md-button
	ng-if 		= "jhvwUser.loggedIn()"
	ng-href		= "/profile"
	flex		= "none"
>
	{{jhvwUser.data.username}} 
</md-button>

<md-button
	ng-if 		= "jhvwUser.loggedIn()"
	ng-click 	= "logout()" 
	flex		= "none"
>
	Logout
</md-button>