<div 
	flex = "grow"
>
		<md-button
			ng-if 		= "roomName"
			ng-click 	= "gotoRoom()"
		>
			#{{roomName}}
		</md-button>
</div>

<md-button 
	ng-if 		= "!jhvwUser.loggedIn()"
	ng-click	= "register()"
	flex		= "none"
>
	Registrieren
</md-button>

<md-button
	ng-if 		= "!jhvwUser.loggedIn()"
	ng-click	= "login()"
	flex		= "none"
>
	Login
</md-button>


<md-button
	ng-if 		= "jhvwUser.loggedIn()"
	ng-href		= "/u/{{jhvwUser.data.id}}"
	flex		= "none"
>
	{{jhvwUser.data.username}} 
</md-button>

<md-button
	ng-if 		= "jhvwUser.loggedIn()"
	ng-click 	= "logout()" 
	flex		= "none"
>
	Logout
</md-button>