<!-- displayName -->

<form
	layout 		= "column"
	ng-submit 	= "update('displayName', edit.displayName).then(blur)" 
>
	<md-input-container
	>
		<label>Angezeigter Name</label>
		<input 
			ng-model		= "edit.displayName" 
			md-maxlength	= "60" 
			type			= "text"
			required
		/>

	</md-input-container>

	<div
		layout 	= "row"
		ng-show	= "edit.displayName != jhvwUser.data.displayName"
	>
		<md-button 
			class		= "md-raised" 
			aria-label	= "undo change to display name"
			ng-click	= "edit.displayName = jhvwUser.data.displayName"
			flex		= "grow"
		>
			undo
		</md-button>

		<md-button 
			class		= "md-primary md-raised" 
			aria-label	= "update display name"
			type		= "submit"
			flex		= "grow"
		>
			übernehmen
		</md-button>
	</div>

</form>



<!-- profilePic -->

<div
	layout 		= "column"
>

	<md-list>
		<md-list-item>
			<img
				ng-if	= "jhvwUser.data.avatar" 
				ng-src	= "{{jhvwConfig.backendLocation}}/images/{{jhvwUser.data.avatar}}"
				class	= "md-avatar"
			/>

			<md-icon 
				class 	= "md-avatar-icon"
				ng-if	= "!jhvwUser.data.avatar"
			>
				face
			</md-icon>



			<label
				for			= "{{avatarInputId}}"
				class		= "md-button md-raised md-jhvw-theme"
				ng-class	= "{'md-warn': avatarFilename}"
				md-colors	= "{'background': avatarFilename ? 'warn' : 'background'}"
				flex		= "grow"
				ng-click	= "confirmDeletion ? $event.preventDefault() : null"
				ng-disabled = "confirmDeletion"
			>
				ändern
			</label>

			<md-button 
				class 		= "md-raised"
				ng-show		= "jhvwUser.data.avatar"
				ng-class	= "{'md-warn': confirmDeletion}"
				ng-click 	= "confirmDeletion = !confirmDeletion" 
				flex		= "grow"
				ng-disabled = "avatarFilename"
			>
				löschen
			</md-button>

		</md-list-item>
	</md-list>

	<input 
		id				= "{{avatarInputId}}"
		type			= "file"
		class			= "ng-hide"
		required
	/>




	<!-- confirm deletetion -->

	<div
		layout	= "row"
		layout-align = "center center"
		ng-show	= "confirmDeletion"
	>
		<md-button
			class		= "md-raised"
			ng-click	= "confirmDeletion = false"
			flex		= "grow"
		>
			abbrechen
		</md-button>

		<md-button
			class		= "md-primary md-raised"
			flex		= "grow"
			ng-click	= "deleteAvatar(); confirmDeletion = false"
		>
			bestätigen
		</md-button>
	</div>




	<!-- filename -->

	<div
		class 	= "md-button md-disabled"
		ng-show = "avatarFilename"	
	>
		{{avatarFilename}}
	</div>


	<div
		layout 	= "row"
		ng-show = "avatarFilename"
	>
		<md-button
			class		= "md-raised"
			ng-click	= "avatarFilename = ''"
			flex		= "grow"
		>
			abbrechen
		</md-button>

		<md-button
			class		= "md-primary md-raised"
			flex		= "grow"
			ng-click 	= "updateAvatar(); avatarFilename = ''"
		>
			hochladen
		</md-button>
	</div>


</div>





<!-- city, zip -->

<form
	layout 		= "column"
	ng-submit 	= "update({zip: edit.zip, city: edit.city}).then(blur)" 
>
	<div layout = "row">
		<md-input-container	
			flex = "33"
		>
			<label>{{'zip'|label}}</label>
			<input 
				ng-model		= "edit.zip" 
				md-maxlength	= "5" 
				type			= "text"
			/>

		</md-input-container>

		<md-input-container
			flex = "66"
		>
			<label>{{'city'|label}}</label>
			<input 
				ng-model		= "edit.city" 
				md-maxlength	= "60" 
				type			= "text"
			/>

		</md-input-container>
	</div>

	<div
		layout 	= "row"
		ng-show	= "(edit.zip != jhvwUser.data.zip) || (edit.city != jhvwUser.data.city)"
	>
		<md-button 
			class		= "md-raised" 
			aria-label	= "undo changes"
			ng-click	= "edit.zip = jhvwUser.data.zip; edit.city = jhvwUser.data.city"
			flex		= "grow"
		>
			undo
		</md-button>

		<md-button 
			class		= "md-primary md-raised" 
			aria-label	= "update zip/city"
			type		= "submit"
			flex		= "grow"
		>
			übernehmen
		</md-button>
	</div>

</form>


<form
	layout 		= "column"
>
	<md-input-container
	>
		<label>{{key|label}}</label>
		<md-select 
			ng-model	= "edit.country"
			ng-change 	= "update('country', edit.country).then(blur)"
			placeholder	= "Wähle Dein Land"
		>
			<md-option value="">keine Angabe</md-option>
			<md-option ng-repeat="country in jhvwConfig.countries" value="{{country.code}}">{{country.name}}</md-option>
		</md-select>

	</md-input-container>

</form>



<form
	layout 		= "column"
	ng-submit 	= "update('info', edit.info).then(blur)" 
>
	<md-input-container
	>
		<label>Sonst noch:</label>
		<textarea 
			ng-model	= "edit.info" 
			rows		= "5"
			type		= "text"
		></textarea>

	</md-input-container>

	<div
		layout 	= "row"
		ng-show	= "edit.info != jhvwUser.data.info"
	>
		<md-button 
			class		= "md-raised" 
			aria-label	= "undo change to additional info"
			ng-click	= "edit.info = jhvwUser.data.info"
			flex		= "grow"
		>
			undo
		</md-button>

		<md-button 
			class		= "md-primary md-raised" 
			aria-label	= "update additional info"
			type		= "submit"
			flex		= "grow"
		>
			übernehmen
		</md-button>
	</div>

</form>
