<section 
	class				= "project-list"
	jhvw-projects-as 	= "projects"
	md-colors			= "{background: 'jhvw-accent-400'}" 
	ng-init				= "show = {}"
	layout-padding
>

	<header>
		<img src ="/images/projekte.svg"/>
		<div class = "controls">
			<md-button 
				ng-repeat 	= "year in projects | projectYears"
				class		= "md-accent"
				ng-class	= "{'md-raised': show.year && show.year == year }" 
				ng-click	= "show.year = year"
			>
				{{year}}
			</md-button>
			<md-button
				class		= "md-accent"
				ng-class	= "{'md-raised': !show.year}" 
				ng-click	= "show.year = undefined"
			>
				alle
			</md-button>
		</div>
	</header>

	<jhvw-project-list>
		<md-grid-tile 
			ng-repeat		= "jhvwProject in projects"
			ng-if			= "!jhvwProject.prototype && (!show.year || show.year == jhvwProject.year)"
			md-colors 		= "{background: 'jhvw-primary-400'}"
			ng-click		= "path('/project/'+jhvwProject.id)"
			md-ink-ripple 	= "#000"
			title			= "{{jhvwProject.description}}"
			class			= "md-whiteframe-4dp"
		>
			<h3>{{jhvwProject.name}}</h3>
			<div
				class		= "tile-image"
				style		= "background-image: url({{jhvwProject.image}})"
			>
			</div>	
		</md-grid-tile>
	</jhvw-project-list>


</section>
