<section 
	class				= "project-list"
	jhvw-projects-as 	= "projects"
	md-colors			= "{background: 'jhvw-primary-A100'}" 
	layout-padding
>
	<div 
		ng-init		= "show.year = show.year === undefined ? (projects | projectYears)[0] : show.year"
		ng-repeat 	= "event in (projects | groupProjectsByEvent)"
		ng-if		= "!show.year || (event.year == show.year) "	
	>
		<jhvw-project-list>
			<md-grid-tile 
				ng-repeat		= "jhvwProject in event.projects"
				ng-if			= "jhvwProject.prototype"
				md-colors 		= "{background: 'jhvw-primary-400'}"
				ng-click		= "path('/project/'+jhvwProject.id)"
				md-ink-ripple 	= "#000"
				title			= "{{jhvwProject.description}}"
				class			= "md-whiteframe-4dp"
			>
				<h3>{{jhvwProject.name}}</h3>
				<div
					class		= "tile-image"
					style		= "background-image: url({{jhvwProject.image}})"
				>
				</div>	
			</md-grid-tile>
		</jhvw-project-list>

		<div>
		</div>
	</div>

	<footer>
		<img src ="/images/prototypen.svg"/>
		<div class = "controls">
			<md-button 
				ng-repeat 	= "year in projects | projectYears"
				class		= "md-primary"
				ng-class	= "{'md-raised': show.year && show.year == year }" 
				ng-click	= "show.year = year"
			>
				{{year}}
			</md-button>
			<md-button
				class		= "md-primary"
				ng-class	= "{'md-raised': show.year === 0 }" 
				ng-click	= "show.year = 0"
			>
				alle
			</md-button>
		</div>
	</footer>

</section>

