<md-list
	ng-if = "rooms && rooms.length"
>
	<h3
		style 		= "white-space: nowrap;" 
		class		= "md-title"
		layout-padding
	>
		Deine Chats
	</h3>

	<md-list-item 
		ng-repeat  	= "room_i in rooms"
		ng-click	= "gotoRoom(room_i.name)"
		flex		= "none"
		md-colors	= "room_i.name == room.name ? {background: 'jhvw-primary-500', color: 'jhvw-accent-300'} : {}"
	>
		<span>#{{room_i.name}} {{}}</span>
	</md-list-item>

	<md-list-item
		flex		= "none"
		ng-if		= "rooms.length == 0"
	>
		<span>Du hast Dich noch an keinem chat beteiligt</span>
	</md-list-item>

</md-list>
